/*vocab font <-- same as index_css*/
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); 

/*pos font  <-- same as index_css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#cardContainer {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.title {
	color: rgb(71, 60, 51);
	font-size: 30px;
	font-weight: bold;
	font-family: 'Itim', cursive;
}

#part-of-speech {
	font-size: 14px;
	font-weight: lighter;
	font-family: 'Noto Sans', sans-serif;
}

.card {
	width: 30vh;
	height: 30vh;
	position: relative;
	perspective: 1000px;
	margin: 0 20px;
	display: none;
}

.card.active {
	display: block;
	border-radius: 30px;
}

.front, .back { 
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition: transform 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.front {
	background: rgb(253, 238, 220);
}

.back {
	background: rgb(255, 216, 169);
	transform: rotateX(180deg);
}

.flipped .front {
	transform: rotateX(180deg);
}

.flipped .back {
	transform: rotateX(0deg);
}

button {
	margin: 20px;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size:  16px;
	cursor: pointer;
}
#prevBtn{
	background: url('../images/icon/arrow_backward.png');
	background-position-y: 25%;
	background-position-x: 125%;
	background-repeat: no-repeat;
}
#nextBtn{
	background: url('../images/icon/arrow_forward.png');
	background-position-y: 25%;
	background-position-x: 75%;
	background-repeat: no-repeat;
}

button:hover {
	
}
